nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(126, 17, 227);
    color: #fff;
    font-size: 20px;
    font-family: Arial, sans-serif;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #333;
  }
  
  /* Logo styles */
  .logo {
    font-weight: bold;
    font-size: 24px;
  }
  
  /* Right side links styles */
  .right-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
  }
  